/* Navbar.css */

/* Styling for the navigation links */
.nav-right .nav-link {
  color: white;
  margin-right: 15px;
  font-size: 18px;
  text-decoration: none;
  display: flex;
  align-items: center;
}

/* Styling for icons */
.icon {
  margin-right: 5px;
}

/* Styling for the brand/logo */
.navbar-brand h1 {
  padding: 0 20px;
  color: white;
  font-size: 24px;
}

/* Styling for the dropdown menu items */
.dropdown-icon {
  margin-right: 10px;
}
/* NavBar.css */
/* Move items to the right side of the navbar */
.ml-auto {
  margin-left: auto;
}

/* Adjust the dropdown menu width to fit the content */
.dropdown-menu {
  min-width: 200px;
} 

@media (min-width: 768px) {
  .navbar .ml-auto {
    margin-left: auto;
  }
}

#basic-nav-dropdown {
  position: relative;
}


/* Style for the dropdown items */
#basic-nav-dropdown .nav-link {
  color: #A0BFE0;
  padding: 8px 16px;
  display: block;
  text-decoration: none;
  background-color: #fff;
}

/* Hover effect for dropdown items */
#basic-nav-dropdown .nav-link:hover {
  background-color: #ffffff;
  text-decoration: line-through;
  transition: ease-in-out;
  transition-delay: 3s;
  color: goldenrod;
}

/* Style for the dropdown content */
#basic-nav-dropdown .nav-link:active,
#basic-nav-dropdown .nav-link:focus,
#basic-nav-dropdown .nav-link.active {
  background-color: #e5e5e5;
}

/* Navbar.css */
.navbar-custom {
  padding: 200px; /* Adjust the padding value as needed to increase the navbar size */
}

.navbar{
  height: 80px;
}

/* Navbar.css */
.nav-right {
  align-items: center;
  margin-left: auto;
  margin-right: 70px;
  font-size: 20px;
  gap: 15px;

}


