.blog-container {

    max-width: 1000px;
    height: 525px;
    margin: 0 auto;
    /* margin-top: 800px; */
    padding: 20px;

    font-family: Georgia, 'Times New Roman', Times, serif;

    border: 1px solid #ccc;

    border-radius: 5px;

    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 20
    px; /* Adjust the value as needed */
  margin-bottom: 20px; /* Adjust the value as needed */

  }

 

  .blog-heading {

    text-align: center;

    margin-bottom: 20px;

    font-size: 40px;

    font-weight: 700;

    color: #333;

  }

 

  .blog-user {

    display: flex;

    align-items: center;

    margin-bottom: 20px;

  }

 

  .blog-user img {

    width: 40px;

    height: 40px;

    border-radius: 50%;

    margin-right: 10px;

  }

 

  .blog-user p {

    margin: 0;

    font-size: 16px; /* Adjust font size for user name */

    color: #555; /* Adjust text color */

  }

 

  .blog-image img {
    
    width: 400px;
    margin:auto;
    height: auto;

    /* margin-bottom: 20px; */

  }

 

  .blog-content p {

    line-height: 2;

    word-spacing: 2px;

    margin-bottom: 15px;

    font-size: 18px;

    text-align: justify;

  }